<div class="login-container">
  <div class="login-container-wrapper d-flex justify-content-center">
    <% if flash[:success] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:success] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if flash[:errors] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:errors][0] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <div class="login-section">
      <h2>Log In</h2>
      <form class="row g-3 needs-validation" method="post" action="/login">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
        <div class="col-md-12">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="col-md-12">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="d-grid ">
          <button class="btn btn-primary" type="submit">log in</button>
        </div>
      </form>
      <a href='/signup'>Don't have account? Register here!</a>
    </div>
  </div>
</div>
