<div class="signup-container">
  <div class="signup-container-wrapper d-flex justify-content-center">
    <% if flash[:errors] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <% flash[:errors].each do |error| %>
          <p><%= error %><p>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <div class="signup-section">
      <h2>Register</h2>
      <form class="row g-3 needs-validation" method="post" action="/signup">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
        <div class="col-md-12">
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Lastname" required>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Firstname" required>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Othername">
        </div>
        <div class="col-md-12">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="col-md-12">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="col-md-12">
          <input type="password" class="form-control" id="confirm-password" name="password_confirmation" placeholder="Confirm Password" required>
        </div>
        <div class="d-grid ">
          <button class="btn btn-primary" type="submit">Register</button>
        </div>
      </form>
      <a href='/login'>Already have an account? Log in here!</a>
    </div>
  </div>
</div>
