<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= root_url %>">
      ClockIT
    </a>
    <div class="dropdown">
      <button style="color: white; border: 0;" class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        <%= @user.last_name.downcase %> <%= @user.first_name.downcase %>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="<%= logout_url %>">logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="show-user-container">
  <div class="show-user-container-wrapper d-flex justify-content-center">
    <% if flash[:error] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:error] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: absolute; top: 0.5rem;">
        <%= flash[:success] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if @clocking_event %>
      <div class="update-clocking-event-section container">
        <h2>Update Time Entry</h2>
        <form class="row g-3" action="<%= clocking_event_url @clocking_event %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
          <div class="col-md-6">
            <label for="clock_in_date" class="form-label">Clock in Date</label>
            <input type="date" class="form-control" id="clock_in_date" name="clock_in_date" value="<%= extract_date(@clocking_event.clock_in_time) %>" required>
          </div>
          <div class="col-md-6">
            <label for="clock_in_time" class="form-label">Clock in Time</label>
            <input type="time" class="form-control" id="clock_in_time" name="clock_in_time" value="<%= extract_time(@clocking_event.clock_in_time) %>" required>
          </div>
          <div class="col-md-6">
            <label for="clock_out_date" class="form-label">Clock out Date</label>
            <input type="date" class="form-control" id="clock_out_date" name="clock_out_date" value="<%= extract_date(@clocking_event.clock_out_time) %>" required <% if already_clocked_in? @user %><%= "disabled" %> <% end %>>
          </div>
          <div class="col-md-6">
            <label for="clock_out_time" class="form-label">Clock out Time</label>
            <input type="time" class="form-control" id="clock_out_time" name="clock_out_time" value="<%= extract_time(@clocking_event.clock_out_time) %>"  required <% if already_clocked_in? @user %><%= "disabled" %> <% end %> >
          </div>
          <div class="mb-3">
            <label for="clock_out_time" class="form-label">Clock Out Reason</label>
            <textarea class="form-control" style="font-size: 0.8rem;" id="message-text" name="clock_out_reason" placeholder="Please give reason for clocking out"  <% if already_clocked_in? @user %><%= "disabled" %> <% end %>><%= @clocking_event.clock_out_reason %></textarea>
          </div>
          <div class="d-grid gap-2" style="margin-top: 0.5rem; margin-bottom: 2rem;">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
        <a href="<%= user_url @user %>">Go Back</a>
      </div>
    <% else %>
      <div class="container" style="margin-top: 2rem; margin-bottom: 2rem;">
        <div class="d-grid gap-2" style="margin: 2rem 0;">
          <% if already_clocked_in? @user %>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#clockOutModal">Click to Clock Out</button>
          <% else %>
            <a class="btn btn-primary" href="<%= clock_in_url %>">Click to Clock In</a>
          <% end %>
        </div>
        <h1> Time Entries </h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Clock In Time</th>
              <th scope="col">Clock Out Time</th>
              <th scope="col">Reason for Clocking Out</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @user.clocking_events.each do |clocking_event| %>
              <tr>
                <td><%= format_time(clocking_event.clock_in_time) %></td>
                <td><%= format_time(clocking_event.clock_out_time) %></td>
                <td><%= clocking_event.clock_out_reason %></td>
                <td><a class="btn btn-primary" href="<%= edit_clocking_event_url clocking_event %>">update</a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>


<div class="modal fade" style="margin-top: 4rem;" id="clockOutModal" tabindex="-1" aria-labelledby="clockOutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Clock Out Reason</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="<%= clock_out_url %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
          <div class="mb-3">
            <textarea class="form-control" style="font-size: 0.8rem;" id="message-text" name="clock_out_reason" placeholder="Please give reason for clocking out"></textarea>
          </div>
          <div class="d-grid gap-2" style="margin: 1rem 0;">
            <button type="submit" class="btn btn-danger">Clock Out</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
