.isoContainer {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background: url('https://res.cloudinary.com/kongular/image/upload/v1619178339/slide-3_b5wrwy.jpg') no-repeat left center;
  background-size: cover;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }

  .isoContentWrapper {

    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    opacity: 0.75;
    background-color: black;

    .section {
      position: absolute;
      display: block;
      text-align: center;
      top: 35%;
      font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: white;
      h1 {
        font-size: 3.5rem;
        line-height: 2.5rem;
        letter-spacing: 1.5rem;
        font-weight: 500;
        margin-bottom: 30px;
      }

      h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.4rem;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 40px;
      }

      a {
        color: white;
        margin-left: 10px;
        padding: .375rem 2rem;
        border-radius: 2rem;
      }

    }

  }



}
