.signup-container {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background: url('https://res.cloudinary.com/kongular/image/upload/v1619178341/slide-1_xc9zyz.jpg') no-repeat left center;
  background-size: cover;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }

  .signup-container-wrapper {

    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    opacity: 0.65;
    background-color: black;

    .signup-section {
      position: absolute;
      display: block;
      text-align: center;
      top: 20%;
      width: 20%;
      font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: white;
      background-color: #201e1e;
      padding: 2rem;

      h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.4rem;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 15px;
      }

      input {
        color: black;
        font-size: 0.8rem;
      }

      button {
        color: white;
        border-radius: 0.2rem;
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }

      a {
        font-size: 0.8rem;
        color: white;
        text-decoration: none;

        &:hover {
          color: #0d6efd;
        }
      }
    }
  }
}

.show-user-container {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background: url('https://res.cloudinary.com/kongular/image/upload/v1619178339/bg-signup_jcvy8z.jpg') no-repeat left center;
  background-size: cover;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }

  .show-user-container-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    opacity: 0.8;
    background-color: black;

    .update-clocking-event-section {
      position: absolute;
      display: block;
      text-align: center;
      top: 20%;
      width: 40%;
      font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: white;
      background-color: #201e1e;
      padding: 2rem;

      h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.1rem;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 3rem;
      }

      a {
        font-size: 1rem;
        color: white;
        text-decoration: none;

        &:hover {
          color: #0d6efd;
        }
      }
    }

    h1 {
      font-size: 3.5rem;
      line-height: 2.5rem;
      letter-spacing: 0.4rem;
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      margin-bottom: 4rem;
      margin-top: 1rem;
      text-decoration: underline;
    }

    tr {
      color: white;
    }

  }
}
