<div class="isoContainer">
  <div class="isoContentWrapper d-flex justify-content-center">
    <div class="section">
      <h1>ClockIT</h1>
      <h2 class="">A simple time tracker and timesheet app.</h2>
      <a class="btn btn-outline-primary js-scroll-trigger" href="/login">Get Started</a>
    <div>
  </div>
</div>
